<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Interface</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>IIIT-A Querybot Interface</header>
    <div id="chat-container">
        <div id="message-container">
            Welcome to our IIIT-A Chatbot. It is designed to provide information regarding the infrastructure, faculty, college placements and many more.
        </div>
        <div id="input-container">
            <textarea id="message-input" placeholder="Type a message..."></textarea>
            <button id="send-button">submit</button>
        </div>
    </div>
    <footer>
        Querybot for Indian Institute of Information Technology Allahabad
    </footer>
    <script src="/static/script.js"></script>
</body>
</html>
